version: 2.1

parameters:
  build-version:
    type: string
    default: "1.0"
  project-name:
    type: string
    default: "API-CRUD"
  
executors:
  dotnet-executor:
    docker:
      - image: "ganeshintegrate/dotnet:tagname"
        auth:
          username: "ganeshIntegrate"
          password: "sUper@123#"

jobs:
  build:
    executor: dotnet-executor
    steps:
      - checkout
      - run:
          name: Build
          command: "dotnet build ./API-CRUD.sln -p:Version=0.1 -c Release"