version: 2.1

parameters:
  build-version:
    type: string
    default: "1.0"
  project-name:
    type: string
    default: "API-CRUD"
  
#orbs:
#  win: circleci/windows@5.0 # The Windows orb gives you everything you need to start using the Windows executor.
#
#jobs:
#  build: # name of your job
#    executor:
#      name: win/default # executor type
#      size: medium # can be medium, large, xlarge, 2xlarge
#
#    steps:
#      # Commands are run in a Windows virtual machine environment
#      - checkout
#      - run: Write-Host 'Hello, Windows'

executors:
  dotnet-executor:
    docker:
      - image: "mcr.microsoft.com/dotnet/sdk:6.0"
        auth:
          username: "ganeshIntegrate"
          password: "sUper@123#"

jobs:
  build:
    executor: dotnet-executor
    steps:
      - run: 
          name: add git
          command: "apt install git"
          
      - run:
          name: install openssh
          command: |
            apt policy openssh-server
            apt update
#            apt-get install openssh-server
#            systemctl enable ssh
#            systemctl enable ssh --now
#            systemctl start ssh
      - checkout
      - run:
          name: Build
          command: "dotnet build ./API-CRUD.sln -p:Version=0.1 -c Release"